.left__footer {
    padding: 0 12px;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
    color: var(--color-secondary);
    width: 15vw;
}

.relative_fb_copyright {
    position: relative;
    width: 97%;
    margin-top: 2rem;
    font-size: 12px;
    color: var(--color-secondary);
}
