.home__right {
    position: fixed;
    // margin-top: calc(var(--header-height) + 16px);
    right: 16px;
    width: 20vw;

    @include mediaMaxWidth(900px) {
        & {
            display: none;
        }
    }

    .contacts__header {
        position: relative;
        @include flex(space-between, center);
        padding: 12px 0 7px 10px;
        font-weight: 600;
        color: var(--color-secondary);

        .right {
            display: flex;
            align-items: center;
            gap: 6px;
            position: absolute;
            right: -9px;
            top: 7px;

            .right__circle {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                @include flex(center, center);
                cursor: pointer;
            }

            .right__circle:nth-child(1) {
                margin-right: -1px;
            }
            .right__circle:nth-child(2) {
                margin-right: 1px;
            }
            .right__circle:nth-child(3) {
                margin-top: -1px;
            }
        }
    }

    .contacts_list {
        padding: 5px;
    }
}
